

* {
    margin: 0;
}

.bordered{
    border: 1px solid black;
}
body{
    background-color: #f2ebe3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    width: 100%;
    max-width: 600px;
}

.img img{
    width: 300px;
}

.content {
    background-color: white;
    width: 50%;
    padding: 20px;
}
.price{
    display: flex;
    align-items: center;
}
.price h1 {
    margin-right: 15px;
    color: #3c8067ff ;
}

p, button{
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
}
h1 {
    font-family:  "Fraunces", serif;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3c8067ff;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
button img{
    padding: 0px 10px;
}