* {
    margin: 0;
}

/* .bordered{
    border: 1px solid black;
} */
body{
}
.all{
    width: 100%;
    background-color: #f2ebe3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    display: flex;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}
.img{
    width: 50%;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.content {
    background-color: white;
    width: 50%;
    padding: 25px;
    border-radius: 0px 10px 10px 0px;
}
.price{
    display: flex;
    align-items: center;
}
.price h1 {
    margin-right: 15px;
    color: #3c8067ff ;
}
.price p{
    text-decoration: line-through;
}
p, button{
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
h1 {
    font-family:  "Fraunces", serif;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #3c8067ff;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
button:hover{
    background-color: #1b4133;
}
button img{
    padding: 0px 10px;
}