* {
    margin: 0;
}

/* .bordered{
    border: 1px solid black;
} */
body{
    background-color: #f2ebe3ff;
}
.all{
    width: 100%;
    background-color: #f2ebe3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 200px;
}
.img{
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
}


.content {
    background-color: white;
    width: 50%;
    padding: 25px;
    border-radius: 0px 10px 10px 0px;
}
.price{
    display: flex;
    align-items: center;
}
.price h1 {
    margin-right: 15px;
    color: #3c8067ff ;
}
.price p{
    text-decoration: line-through;
}
p, button{
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
h1 {
    font-family:  "Fraunces", serif;
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #3c8067ff;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
button:hover{
    background-color: #1b4133;
}
button img{
    padding: 0px 10px;
}

@media(max-width:600px){
    .all{
        padding: 100px 0px;
        width: 100%;
        box-sizing: border-box;
    }
    .main{
        flex-direction: column;
        width: 90%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    .img{
        background-image: url(images/image-product-mobile.jpg);
        width: 100%;
        height: 380px;
        border-radius: 10px 10px 0px 0px;
        background-size: cover;
    }
    .content{
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px 0px 10px 10px;
    }
}